# NEON DB CREDENTIALS
DATABASE_URL =
# CLOUDINARY CREDENTIALS
CLOUDINARY_CLOUD_NAME =your_cloud_name
CLOUDINARY_API_KEY =your_api_key
CLOUDINARY_API_SECRET =your_api_secret
CLOUDINARY_URL =

#ODOO CREDENTIALS
ODOO_URL = 
ODOO_DB = 
ODOO_USERNAME = 
ODOO_PASS = 

#SERPER CREDENTIALS
SERPER_API_KEY =

#DEBUG
IMAGE_SERVICE_DEBUG = 1
#ODOO CLIENT DEBUG
ODOO_CLIENT_DEBUG = 1